
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, #e9b2ca, #e7b28a); /* 渐变背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
    /* background-image:url('images/bgp.jpg');
    background-size:cover;
  */
}
/* note盒子 */
.note {
    width: 300px;
    height: 200px;  
    border-radius: 20px;
    margin:50px 100px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
     padding: 0;
}
.notea{
    height: 50px;
    background-color:white;
    border-radius: 20px 20px 0px 0px;
     display: flex;
}
.noteb{
    background-color: rgb(190,219,233);
    max-height: 100%;
    height: 100%;
    /* padding: 0;
    margin: 0; */
    border-radius: 0 0 20px 20px;
}
.circle{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin: 10px 5px;
   
}
.notetext{
    padding: 5px 10px; 
   font-size: 20px;
}
ul{
    padding: 0;  
    margin: 0; 
    margin-left: 30px;
}
li{
   
    margin-bottom: 10px;
    font-size: 15px;
}
/* 头像框 */
.container {
     /* position: absolute; */
    top: 10%;  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.profile {
    position: relative;
    width: 120px;  /* 调整头像大小 */
    height: 120px;
    transition: transform 0.3s ease;
    cursor: pointer;
     margin: 0 40px;  /* 头像间隔距离 */
}

.profile img {
    width:100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

/* 悬停放大效果 */
.profile:hover {
    transform: scale(1.1); /* 悬停头像放大 */
}

/* 文字显示效果 */
.text {
   position: absolute;
    top: 100%;  /* 文字位置在头像下方 */
    left: 50%;
    transform: translateX(-50%);  /* 水平居中 */
    color: white;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap; /* 防止文本换行 */
    margin-top: 10px;  /* 文字与头像的间距 */
    font-family:Lobster;

}

/* 悬停时文字显示 */
.profile:hover .text {
    opacity: 1;
}

/* 针对左右头像的不同文本 */
.left .text {
    content: "喜欢七老师";
    
}

.right .text {
    content: "喜欢小绵羊";
}

/* 文字出现在两个人中间 */
.text-between {
    position: absolute;
    font-size: 32px;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
/* 骰子 */
.dice-cont{
   
    margin-top: 50px;
}
.dice-button {
    width: 50px;  
    cursor: pointer;  /* 使其可点击 */
    transition: transform 0.3s ease;  /* 添加平滑过渡效果 */
}
.dice-button:hover{
    transform: scale(1.2);
}
.dice-button:active{
    transform: scale(0.9);
}

.dice-result {
    margin-top: 20px;
}
/* 点数 */
.dice-num {
    font-size: 30px;
    margin: 0 15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.dice-text {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}
/* 音乐盒子 */
.album-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
/*  */
.rotate{
    animation:rotate 15s infinite linear;
}
@keyframes rotate{
    0%{
    transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
